beautifulsoup4==4.11.1
concise-concepts==0.5.4
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.0/en_core_web_lg-3.4.0-py3-none-any.whl
gensim==4.2.0
notebook==6.4.12
numpy==1.23.1
PyMuPDF==1.20.1
scipy==1.8.1
spacy==3.4.1
spacy-streamlit==1.0.4
streamlit==1.11.0
sumy==0.10.0
terminado==0.15.0
uvicorn==0.18.2
